.gnb_area .gnb6>a {color: #3a82b6;}
.gnb_area .gnb6>a::after {content: ''; position: absolute; left: 50%; margin-left: -4px; bottom: -5px; width: 8px; height: 8px; background: #3a82b6; border-radius: 50%; z-index: 3;}
.gnb_area .gnb6 .m_width>li:nth-child(1)>a {color: #395ea2;}
.gnb_area .gnb6 .m_width>li:nth-child(1)>a::before {border: 1px solid #395ea2; border-radius: 10px; width: 78px; height: 78px;}

#middle {width: 100%; background: #f3f4f8;}

#contbody {width: 1200px; margin: 0 auto; padding: 10px 0 30px;}

#contleft {width: 240px;}
#contleft h2 {font-size: 25px; color: #fff; text-align: center; padding: 100px 0 16px; background: url(../images/board/bg_h2.gif); position: relative;}
#contleft h2::before {content: ''; background: url(../images/board/ico_h2.png) 0 -160px; width: 80px; height: 80px; position: absolute; top: 20px; left: 80px;}
#contleft .lnbwrap ul {background: #fff;}
#contleft .lnbwrap>ul>li>a {display: block; color: #555; padding: 0 20px; line-height: 42px; border: 1px solid #e4e4e4; border-top: none;}
#contleft .lnbwrap ul li a:hover {text-decoration: underline;}
#contleft .lnbwrap>ul>li a.click {background: #6a6e78; color: #fff; font-weight: bold; border: none; text-decoration: none;}
#contleft .lnbwrap ul li a.blank::after {content: ''; background: url(../images/board/ico_blank.png) no-repeat center; padding-right: 20px;}
#contleft .lnbwrap ul li ul {padding: 8px 10px 8px 14px; border: 1px solid #e4e4e4; border-top: none; display: none;}
#contleft .lnbwrap>ul>li a.click +ul {display: block;}
#contleft .lnbwrap ul li ul li {margin: 3px 0; line-height: 25px;}
#contleft .lnbwrap ul li ul li a {color: #555;}
#contleft .lnbwrap ul li ul li a.active {color: #3f5f9c; font-weight: bold; text-decoration: underline;}

#contright {width: 880px; background: #fff; padding: 34px; border: 1px solid #e4e4e4;}
#contright .navtitle {position: relative;}
#contright .navtitle .nav>a {float: left; background: url(../images/board/ico_home.png) no-repeat center; width: 18px; height: 16px;}
#contright .navtitle .nav>span {margin-left: 4px;}
#contright .navtitle a {color: #555; text-indent: -9999px;}
#contright .navtitle .snsFarm {position: absolute; top: 0; right: 0;}
#contright .navtitle .snsFarm ul li {float: left;}
#contright .navtitle .snsFarm ul li:nth-child(1) a {display: block; background: url(../images/board/ico_sp.png) 0 -30px; width: 41px; height: 40px; margin-left: 5px;}
#contright .navtitle .snsFarm ul li:nth-child(2) a {display: block; background: url(../images/board/ico_sp.png) -50px -30px; width: 41px; height: 40px; margin-left: 5px;}
#contright .navtitle h3 {font-size: 32px; color: #333; padding-top: 8px;}

#contright .contents {padding: 25px 0 10px;}
#contright .tapwrap {margin-bottom: 30px;}
#contright .tapwrap ul li {width: 25%; line-height: 28px;}
#contright .tapwrap ul li a {display: block; font-size: 17px; color: #333; font-weight: bold; text-align: center; background: #fff; border: 1px solid #e4e4e4; border-left: none; padding: 10px;}
#contright .tapwrap ul li:nth-child(1) a {color: #fff; background: #055293;; border: 1px solid #055294; border-left: none;}
#contright .tapwrap ul li:nth-child(5) a {border-left: 1px solid #e4e4e4; border-top: 0;}
#contright .tapwrap ul li:nth-child(6) a {border-top: 0;}
#contright .tapwrap ul li:nth-child(n+2):nth-child(-n+6) a:hover {background: #f4f4f4;}

#contright .youth_wrap {line-height: 25px;}
.youth_wrap .youth_bn {margin-bottom: 30px;}
.youth_wrap h4.title {display: inline-block; font-size: 19px; color: #000; font-weight: bold; background: linear-gradient(to top, #ddf79b 50%, transparent 50%); margin: 30px 0 10px; padding: 0 7px;}
.youth_wrap h4:first-child.title {margin-top: 0;}
.youth_wrap p.dot {margin: 2px 0 2px 5px; padding-left: 15px; background: url(../images/information02/bul_dot.png) no-repeat 2px 10px;}
.youth_wrap .underline01 {display: inline-block; color: #000; font-weight: bold; background: linear-gradient(to top, #ffcac1 50%, transparent 50%); margin: 0 3px; padding: 0 3px;}
.youth_wrap .underline02 {display: inline-block; color: #000; font-weight: bold; background: linear-gradient(to top, #aaca5b 50%, transparent 50%); margin: 0 3px; padding: 0 3px;}
.youth_wrap .underline03 {display: inline-block; color: #000; font-weight: bold; background: linear-gradient(to top, #ffcf9b 50%, transparent 50%); margin: 0 3px; padding: 0 3px;}
.youth_wrap .youth_pdf {margin-top: 30px;}
.pdf_list .row h3 {font-size: 17px; color: #fff; padding: 12px 15px; cursor: pointer; position: relative;}
.pdf_list .row h3::after {content: ''; border-top: 7px solid #fff; border-right: 6px solid transparent; border-left: 6px solid transparent; position: absolute; top: 50%; margin-top: -5px; right: 20px; transition: transform .3s;}
.pdf_list .row h3.down::after {transform: rotate(180deg);}
.pdf_list .row:nth-child(1) h3 {background: #0472a3;}
.pdf_list .row:nth-child(2) h3 {background: #d45e71;}
.pdf_list .row:nth-child(3) h3 {background: #567f81;}
.pdf_list .row:nth-child(4) h3 {background: #e7871e;}
.pdf_list .row:nth-child(5) h3 {background: #853891;}
.pdf_list .row .toggle {display: none;}
.pdf_list .row:first-child .toggle {display: block;}
.toggle ul li:nth-child(1) {width: 70%; padding: 7px 15px; border: 1px solid #e4e4e4; border-top: 0; box-sizing: border-box;}
.toggle ul li:nth-child(2) {width: 30%; padding: 7px 15px; border-right: 1px solid #e4e4e4; border-bottom: 1px solid #e4e4e4; box-sizing: border-box; text-align: center;}
.toggle ul li .list01 {color: #0472a3; width: 35px; margin-right: 7px; display: inline-block;}
.toggle ul li .list02 {color: #d45e71; width: 35px; margin-right: 7px; display: inline-block;}
.toggle ul li .list03 {color: #567f81; width: 35px; margin-right: 7px; display: inline-block;}
.toggle ul li .list04 {color: #e7871e; width: 35px; margin-right: 7px; display: inline-block;}
.toggle ul li .list05 {color: #853891; width: 35px; margin-right: 7px; display: inline-block;}
.download_btn {margin-top: 50px; text-align: center;}
.download_btn a {display: inline-block; color: #000; font-weight: bold; text-align: left; padding: 15px 30px 15px 80px; background: #fff url(../images/information02/younghope_pdf_down.png) no-repeat center left 15px; border: 2px solid #ff0000; border-radius: 10px; box-shadow: 0px 7px 12px 0px rgba(100, 100, 111, .2);}

#contright .contents .satisfaction {margin-top: 60px; border: 1px solid #e4e4e4; position: relative;}
#contright .contents .satisfaction .office {background-color: #f3f4f8; border-bottom: 1px solid #e4e4e4; padding: 8px 20px;}
#contright .contents .satisfaction .satisPollCore {background: url(../images/board/img_satisfaction.gif) no-repeat 20px 20px; padding: 20px 20px 20px 120px;}
#contright .contents .satisfaction .satisPollCore p {line-height: 24px;}
#contright .contents .satisfaction .satisPollCore a {background: #7988d5; border-radius: 5px;}
#contright .contents .satisfaction .satisPollCore a span {background: url(../images/board/ico_click.png) no-repeat center right; padding: 2px 15px 2px 2px; color: #fff;}
#contright .contents .satisfaction .satisPollCore .radio {margin: 12px 0 7px;}
#contright .contents .satisfaction .satisPollCore .radio label {margin-right: 30px;}
#contright .contents .satisfaction .satisPollCore .satisComment {width: 738px;}
#contright .contents .satisfaction .satisPollCore .satisComment input {width: 638px; height: 30px; border: 1px solid #e1e1e1; padding: 0 4px; line-height: 32px;}
#contright .contents .satisfaction .satisPollCore .satisComment .comment {display: block; width: 80px; color: #fff; text-align: center; background: #3f5f9c; border-radius: 0; padding: 1px 2px; line-height: 30px;}
#contright .contents .satisfaction .top {position: absolute; right: -84px; bottom: -45px; width: 40px; height: 20px; padding: 20px 4px 4px; background: #6a83b5 url(../images/board/ico_top.png) no-repeat center top 6px; color: #fff; text-align: center;}