* {margin: 0; padding: 0;}

.progress-bar {
    position: relative;
    width: 960px;
    height: 30px;
    margin: 3em auto;
    border: 1px solid green;
}
.progress-bar .bar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: green;
    width: 0;
}
.progress-bar .rate {
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    color: green;
    line-height: 30px;
}

/* 추가 */
.content {
    height: 800px;
    font-size: 3em;
}